.foodItem {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  box-shadow: 2px 2px 6px rgb(255, 255, 255);
  padding: 10px;
}

.searchButton {
  background-color: #0000004b;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  font-family: "chalkboard", sans-serif;
  box-shadow: 2px 2px 4px rgb(255, 255, 255);
  margin: 10px;
}

.searchButton:hover {
  background-color: #2c2b2b8c; /* Change to desired hover color */
}

input {
  font-family: "chalkboard", sans-serif;
  font-size: small;
  text-transform: capitalize;
}

ul {
  list-style: none;
  padding: 0;
  padding: 20px;
}

.ingredients {
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgb(255, 255, 255);
  margin: 10px;
  width: 1000px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.771);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  width: 120px;
}

.linksCSS {
  text-shadow: 2px 2px 4px red;
  text-decoration: underline;
}

.ingredientTitle{
  font-size: medium ;
  text-decoration: underline;
}


/* card{
  display: none;
} */

/* .toggleIngredients{display: none;} */